// sass --watch scss/style.scss css/style.css --style compressed
@import 'partials/colors';

@font-face {
    font-family: PopBold;
    src: url("../vendor/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: PopMedium;
    src: url("../vendor/fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: PopRegular;
    src: url("../vendor/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: PopSemiBold;
    src: url("../vendor/fonts/Poppins-SemiBold.ttf");
}

body {
    background: black;

    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
}

.page {
    position: absolute;
    top: 0;
    padding: 0 5%;


    .mainOne {
        height: 100vh;
        display: table-row;

        .logo {
            top: 50px;
            max-height: 56px;
            height: 56px;
            position: absolute;
            z-index: 1;
        }

        .title {
            display: table-cell;
            vertical-align: middle;

            p {
                font-family: PopBold;
                font-size: 80px;
                line-height: 1.2;
                color: #fff;
            }

            span {
                color: $aqua;
            }
        }

    }



}

.story {
    .title {
        h3 {
            font-family: PopBold;
            font-size: 60px;
            line-height: 1.1;
            color: #fff;
        }

        span {
            color: $orange;
        }
    }
}

.hamburger-container {
    position: fixed;
    right: 40px;
    top: 50%;
    z-index: 126;
    margin-top: -22.5px;
}

.menu-button {
    height: 45px;
    width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid $aqua;
    border-radius: 50%;
    &.open:hover{
        .menu-button-lineTop{
            transform: translate(6px,13px) rotate(45deg) !important;
            -webkit-transform: translate(6px,13px) rotate(45deg) !important;
            width: 28px !important;
        }
        .menu-button-lineBottom{
            -webkit-transform: translate(11px,0px) rotate(-45deg)!important;
            transform: translate(11px,0px) rotate(-45deg)!important;
        }
    }
    &:not(.open):hover{
        .menu-button-lineTop, {
            transform: translateX(-9px) !important;
            
        }
        .menu-button-lineBottom{
            transform: translateX(-10px) !important;
        }
        .menu-button-lineMiddle {
            transform: translateX(14px) !important;
        }
    }
}

.menu-button-lineTop {
    margin-bottom: 6px;
    width: 45px;
}

.menu-button-line {
    height: 1px;
    width: 25px;
    background: $aqua;
    transition: all .2s ease;
}

.menu-button-lineBottom {
    margin-top: 6px;
    width: 20px;
}

.menu-button-lineMiddle {
    width: 17px;
}




.menu-module {

    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: $dark-blue;
    opacity: 1;
    color: #fff;
    transition: all .3s ease;
    left: 100%;
    // left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 125;

    &.active {
        left: 0;
    }

    .menu-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: 1440px;
        height: 100%;
        margin-right: 0;
        .logo{
            left: 175px;
            top: 50px;
            max-height: 56px;
            height: 56px;
            position: absolute;
            z-index: 1;
            animation: appear-menu-logo 1s linear;
            
        
        }

        .menu-list {
            padding-left: 40px;
            
           
            overflow-wrap: normal;

            animation-delay: 1s;
            animation: appear 1s linear;

            a {
                z-index: 100;
                text-decoration: none;
                background-color: transparent;




                .menu-item {

                    font-family: PopBold;
                    font-size: 60px;
                    padding: 1rem 0;
                    transition: .2s;
                    cursor: pointer;
                    color: #fff;
                    transition: .2s ease;
                    &:hover{
                        opacity: .5;
                    }
                    

                }


            }

        }

        .lets-build {
            max-width: 450px;
            color: $darker-aqua;
            font-family: PopBold;
            box-sizing: content-box;
            display: block;
            font-size: 40px;
            vertical-align: top;
            transition: .2s ease;
            
            
            &:hover{
                color: #fff;
            }
            
            a{
                color: unset;
                text-decoration: none;
            }
        }
    }
}


.rainbow{
    animation: rainbow 20s linear;
    animation-iteration-count: infinite;
    -webkit-animation: rainbow 20s linear infinite;
    
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
        
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}

@keyframes appear{
    0%{
        opacity: 0;
        padding-left: 0px;
        
    }
    100%{
        opacity: 1;
        padding-left: 40px;
    }
}
@keyframes appear-menu-logo{
    0%{
        opacity: 0;
        left: 5%;
        
    }
    100%{
        opacity: 1;
        left: 175px;
    }
}


.source-label.block--animate-reveal{
    text-shadow: 2px 2px 3px #3a8289,-2px -2px 3px #3a8289;
}














@media only screen and (min-width: 1025px) {}